<div class="table-responsive w-100">
  <br />

  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-info" (click)="showAllAct()">
        Alle Activiteiten
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="showFreeAct()">
        Beschikbare Activiteiten
      </button>
    </div>

    <div class="col-2">
      <button type="button" class="btn btn-warning" (click)="showBookedAct()">
        Gereserveerde Activiteiten
      </button>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-primary" (click)="openNewFormModal()">Add Activiteit</button>
      </div>
  </div>

  <br />
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Activiteit</th>
        <th>Datum</th>
        <th>Aantalpersonen</th>
        <th>Prijs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activiteit of (activiteiten | activiteitenfilter: show)">
        <td>{{ activiteit.activiteitNummer }}</td>
        <td>{{ activiteit.activiteitNaam }}</td>
        <td>{{ activiteit.activiteitDatum }}</td>
        <td>{{ activiteit.aantalPersonen }}</td>
        <td>{{ activiteit.prijs | currency: "EUR" }}</td>
        <td style="text-align: right">
          <button type="button" class="btn  btn-sm" (click)="onSelect(activiteit); openEditFormModal()"><img src="../../../../assets/img/edit-btn.jpg" /></button>
        </td>
        <td style="text-align: right">
          <button type="button" class="btn  btn-sm" (click)="onSelect(activiteit); openSm(deleteModal)"><img src="../../../../assets/img/delete-btn.jpg" /></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Activiteit verwijderen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <P>Activiteitnummer {{selectedActiviteit?.activiteitNummer}} wordt verwijderd.</P>
          <h3>Weet je het zeker?</h3>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteAct(selectedActiviteit); modal.close('Save click')">Ja</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Nee</button>
    </div>
  </ng-template>
