<br>
<br>
<div class="table-responsive mt-2">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="handCursor" (click)="clickColumnHandler('activiteit.naam')">Activiteit<i class="fa fa-fw fa-sort"></i></th>
                <th class="handCursor" (click)="clickColumnHandler('actdate')">Datum<i class="fa fa-fw fa-sort"></i></th>
                <th class="handCursor" (click)="clickColumnHandler('actprijs')">Prijs<i class="fa fa-fw fa-sort"></i></th>
                <th class="handCursor" (click)="clickColumnHandler('actcapaciteit')">Capaciteit<i class="fa fa-fw fa-sort"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activiteitplanning of (activiteitenPlanningen | async | activiteitPlanningFilter: show | sortgrid:field)">
                <td>
                    {{ activiteitplanning.activiteit.naam }}
                </td>
                <td>{{ activiteitplanning.actDate }}</td>
                <td>
                    {{ activiteitplanning.actPrijs | currency: "EUR" }}
                </td>
                <td>{{ activiteitplanning.actCapaciteit }}</td>
                <td class="text-align: right">
                    <i
                        class="fas fa-pen-alt mr-2"
                        placement="top"
                        ngbTooltip="Reserveren"
                        (click)="openCreateReservering(activiteitplanning)"
                    ></i>
                    <i
                        class="fas fa-edit mr-2"
                        placement="top"
                        ngbTooltip="Wijzigen"
                        (click)="openFormUpdatePlanning(activiteitplanning)"
                    ></i>
                    <i
                        class="fas fa-trash-alt mr-2"
                        placement="top"
                        ngbTooltip="Verwijderen"
                        (click)="openFormDeletePlanning(activiteitplanning.planid)"
                    ></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
