<div class="d-flex justify-content-end mt-2">
    <button
        class="btn btn-primary mt-2"
        (click)="openFormActiviteitPlanningModal()"
    >
        Toevoegen nieuwe planning
    </button>
</div>
<div class="table-responsive mt-2">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Activiteit</th>
                <th>Datum</th>
                <th>Prijs</th>
                <th>Capaciteit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activiteitplanning of (activiteitenPlanning | async)">
                <td>
                    {{ activiteitplanning.activiteit.naam }}
                </td>
                <td>{{ activiteitplanning.actdate }}</td>
                <td>
                    {{ activiteitplanning.actprijs | currency: "EUR" }}
                </td>
                <td>{{ activiteitplanning.actcapaciteit }}</td>
                <td class="text-align: right">
                    <i
                        class="fas fa-edit mr-2"
                        placement="top"
                        ngbTooltip="Wijzigen"
                        (click)="openEditFormActiviteitPlanningModal(activiteitplanning)"
                    ></i>
                    <i
                        class="fas fa-trash-alt mr-2"
                        placement="top"
                        ngbTooltip="Verwijderen"
                        (click)="verwijderActiviteitPlanning(activiteitplanning)"
                    ></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
