<div class="login mx-auto">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="login-form-email">E-mailadres</label>
        <input type="email"
               [formControl]="loginForm.controls.userName"
               class="form-control"
               id="login-form-email"
               aria-describedby="login-form-email-help"
               placeholder="Enter username">
        <div class="text-danger" *ngIf="loginForm.controls.userName.invalid && !loginForm.controls.userName.pristine">
            Voer een geldig E-mailadres in
        </div>
        <!--small id="login-form-email-help" class="form-text text-muted">Voer het E-mailadres in</small-->
    </div>

    <div class="form-group">
        <label for="login-form-password">Wachtwoord</label>
        <input type="password"
               [formControl]="loginForm.controls.password"
               class="form-control"
               id="login-form-password"
               aria-describedby="login-form-password-help"
               placeholder="Password">
        <div class="text-danger" *ngIf="loginForm.controls.password.invalid && !loginForm.controls.password.pristine">
            wachtwoord is verplicht
        </div>
        <!--small id="login-form-password-help" class="form-text text-muted">Voer het wachtwoord in
        </small-->
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">log in</button>
</form>
</div>

