<div class="modal-header">
    <h4
        class="modal-title"
        id="modal-basic-title"
    >
        Reserveringen
    </h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('cancel')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="activiteitResForm">
        <div class="form-group">
            <label>Activiteit</label>
            <input
                type="string"
                class="form-control"
                formControlName="naamActiviteit"
                [class.is-invalid]="naamActiviteit?.invalid && naamActiviteit?.touched"
                ngbAutofocus
            >
            <small
                class="text-danger"
                [class.d-none]="naamActiviteit?.valid || naamActiviteit?.untouched"
            >
                Verplicht
            </small>
        </div>


        <div class="form-group">
            <label for="inputDateFrom">Datum activiteit</label>
            <div class="form-group">
                <div
                    class="input-group date"
                    id="datetimepicker6"
                >
                    <input
                        type="date"
                        class="form-control"
                        formControlName="datum"
                        [class.is-invalid]="datum?.invalid && datum?.touched"
                    >
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Email</label>
            <input
                type="string"
                class="form-control"
                formControlName="emailGast"
                [class.is-invalid]="emailGast?.invalid && emailGast?.touched"
            >
            <small
                class="text-danger"
                [class.d-none]="emailGast?.valid || emailGast?.untouched"
            >
                Email adres invullen
            </small>
        </div>
        <div class="form-group">
            <label>Aantal Personen</label>
            <input
                type="number"
                class="form-control"
                formControlName="aantalPersonen"
                [class.is-invalid]="aantalPersonen?.invalid && aantalPersonen?.touched"
            >
            <small
                class="text-danger"
                [class.d-none]="aantalPersonen?.valid || aantalPersonen?.untouched"
            >
                Aantal Personen
            </small>
        </div>
    </form>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="submitForm()"
            [disabled]="activiteitResForm.invalid"
        >
            Save
        </button>
    </div>
</div>
