<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Kamer reservering:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="kamerreserveringForm">

    <div class="container, form-row">
      <div class="form-group col-md-6">
        <label>Aankomst datum</label>
        <input (change)="datumvanChanged(kamerreserveringForm.controls.datumvan.value,kamerreserveringForm.controls.datumtot.value)" type="date" class="form-control" [min]="minarrivedate" formControlName="datumvan" [class.is-invalid]="kamerreserveringForm.controls.datumvan.invalid && kamerreserveringForm.controls.datumvan.touched" ngbAutofocus  />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.datumvan.valid || kamerreserveringForm.controls.datumvan.untouched">Vereist</small>
        <small class="text-danger" [class.d-none]="arrivedatecheck">gekozen datum lag in het verleden</small>
      </div>
      <div class="form-group col-md-6">
        <label>Vertrek datum</label>
        <input (change)="datumtotChanged(kamerreserveringForm.controls.datumvan.value,kamerreserveringForm.controls.datumtot.value)" type="date" class="form-control" [min]="minleavedate" formControlName="datumtot" [class.is-invalid]="kamerreserveringForm.controls.datumtot.invalid && kamerreserveringForm.controls.datumtot.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.datumtot.valid || kamerreserveringForm.controls.datumtot.untouched">Vereist</small>
        <small class="text-danger" [class.d-none]="leavedatecheck">vertrekdatum was eerder dan aankomstdatum</small>
      </div>
    </div>

    <div class="container, form-row">
      <div class="form-group col-md-6">
        <label>Aantal personen</label>
        <select (change)="aantalPersonenChanged(kamerreserveringForm.controls.aantalpersonen.value)" class="form-control" formControlName="aantalpersonen" [class.is-invalid]="kamerreserveringForm.controls.aantalpersonen.invalid && kamerreserveringForm.controls.aantalpersonen.touched" ngbAutofocus >
          <option value="" disabled>--Select aantal personen--</option>
          <option *ngFor="let aantal of aantalpersonenarray" [value]="aantal" >{{aantal}}</option>
        </select>
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.aantalpersonen.valid || kamerreserveringForm.controls.aantalpersonen.untouched">Vereist</small>
      </div>
    </div>

    <div *ngIf="showselectroom" class="container, form-row">
      <div class="form-group col-md-6">
        <label *ngIf="!showroom2">Selecteer een {{personen1}}</label>
        <span *ngIf="showroom2">Selecteer twee kamers:<br></span>
        <label *ngIf="showroom2">Eerste kamer: {{personen1}}</label>
        <select (change)="room1Selected(kamerreserveringForm.controls.kamernaam1.value, kamerreserveringForm.controls.aantalpersonen.value)" class="form-control" formControlName="kamernaam1" [class.is-invalid]="kamerreserveringForm.controls.kamernaam1.invalid && kamerreserveringForm.controls.kamernaam1.touched" ngbAutofocus >
            <option *ngIf="vacantyRoom1 === true" value="" disabled>-- Selecteer een kamer --</option>
            <option *ngIf="vacantyRoom1 === false" value="" disabled>-- Helaas niet beschikbaar --</option>
            <option *ngFor="let kamer1 of room1Array" [value]="[kamer1.kamerNaam, kamer1.prijs]">{{kamer1.kamerType}}, {{kamer1.kamerLigging}},  € {{kamer1.prijs}},-</option>
        </select>
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.kamernaam1.valid || kamerreserveringForm.controls.kamernaam1.untouched">Vereist</small>
      </div>
      <div class="form-group col-md-6" *ngIf="showroom2">
        <br>
        <label>Tweede Kamer: {{personen2}}</label>
          <select (change)="room2Selected(kamerreserveringForm.controls.kamernaam2.value)" class="form-control" formControlName="kamernaam2" [class.is-invalid]="kamerreserveringForm.controls.kamernaam2.invalid && kamerreserveringForm.controls.kamernaam2.touched" ngbAutofocus >
          <option *ngIf="vacantyRoom2 === true" value="" disabled>-- Selecteer een kamer --</option>
          <option *ngIf="vacantyRoom2 === false" value="" disabled>-- Helaas niet beschikbaar --</option>
          <option *ngFor="let kamer2 of room2Array" [value]="[kamer2.kamerNaam, kamer2.prijs]">{{kamer2.kamerType}}, {{kamer2.kamerLigging}},  € {{kamer2.prijs}},-</option>
        </select>
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.kamernaam2.valid || kamerreserveringForm.controls.kamernaam2.untouched">Vereist</small>
      </div>
    </div>

    <div class="container, form-row">
      <div class="form-group col-md-6">
        <label>Totaal prijs</label>
        <label type="text" class="form-control" >€ {{totalprice}},-</label>  
       </div>
       <div class="form-group col-md-6">
         <label>Aantal nachten</label>
         <label type="text" class="form-control" >{{aantalnachten}}</label>  
       </div>
    </div>
  
    <div *ngIf="showfillinfo">
    <div class="container, form-row">
      <div class="form-group col-md-3">
        <label>Voornaam</label>
        <input type="text" class="form-control" formControlName="voornaam" [class.is-invalid]="kamerreserveringForm.controls.voornaam.invalid && kamerreserveringForm.controls.voornaam.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.voornaam.valid || kamerreserveringForm.controls.voornaam.untouched">Vereist</small>
     </div>
      <div class="form-group col-md-9">
        <label>Achternaam</label>
        <input type="text" class="form-control" formControlName="achternaam" [class.is-invalid]="kamerreserveringForm.controls.achternaam.invalid && kamerreserveringForm.controls.achternaam.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.achternaam?.valid || kamerreserveringForm.controls.achternaam.untouched">Vereist</small>
      </div>
    </div>
    <div class="container, form-row">
      <div class="form-group col-md-4">
        <label>Telefoonnummer</label>
        <input type="text" class="form-control" formControlName="telefoonnummer" [class.is-invalid]="kamerreserveringForm.controls.telefoonnummer.invalid && kamerreserveringForm.controls.telefoonnummer.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.telefoonnummer.valid || kamerreserveringForm.controls.telefoonnummer.untouched">Vereist</small>
      </div>
      <div class="form-group col-md-8">
        <label>E-mailadres</label>
        <input type="text" class="form-control" formControlName="emailadres" [class.is-invalid]="kamerreserveringForm.controls.emailadres.invalid && kamerreserveringForm.controls.emailadres.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.emailadres.valid || kamerreserveringForm.controls.emailadres.untouched">Vereist</small>
      </div>
    </div>
    <div class="container, form-row">
      <div class="form-group col-md-10">
        <label>Straat</label>
        <input type="text" class="form-control" formControlName="straat" [class.is-invalid]="kamerreserveringForm.controls.straat.invalid && kamerreserveringForm.controls.straat.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.straat.valid || kamerreserveringForm.controls.straat.untouched">Vereist</small>
      </div>
      <div class="form-group col-md-2">
        <label>Nummer</label>
        <input type="text" class="form-control" formControlName="huisnummer" [class.is-invalid]="kamerreserveringForm.controls.huisnummer.invalid && kamerreserveringForm.controls.huisnummer.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.huisnummer.valid || kamerreserveringForm.controls.huisnummer.untouched">Vereist</small>
      </div>
    </div>
    <div class="container, form-row">
      <div class="form-group col-md-2">
        <label>Postcode</label>
        <input type="text" class="form-control" formControlName="postcode" [class.is-invalid]="kamerreserveringForm.controls.postcode.invalid && kamerreserveringForm.controls.postcode.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.postcode.valid || kamerreserveringForm.controls.postcode.untouched">Vereist</small>
      </div>
      <div class="form-group col-md-10">
        <label>Woonplaats</label>
        <input type="text" class="form-control" formControlName="woonplaats" [class.is-invalid]="kamerreserveringForm.controls.woonplaats.invalid && kamerreserveringForm.controls.woonplaats.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.woonplaats.valid || kamerreserveringForm.controls.woonplaats.untouched">Vereist</small>
      </div>
    </div>
    <div class="container, form-row">
      <div class="form-group col-md-12">
        <label>Land</label>
        <input type="text" class="form-control" placeholder="Nederland" formControlName="land" [class.is-invalid]="kamerreserveringForm.controls.land.invalid && kamerreserveringForm.controls.land.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.land.valid || kamerreserveringForm.controls.land.untouched">Vereist</small>
      </div>
    </div>
    <div class="form-group">
        <input type="hidden" value="none" class="form-control" formControlName="identiteitsid" [class.is-invalid]="kamerreserveringForm.controls.identiteitsid.invalid && kamerreserveringForm.controls.identiteitsid.touched" ngbAutofocus />
    </div>
  </div>
  
  </form>
  <div *ngIf="showfillinfo" class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitForm(kamerreserveringForm.controls.kamernaam1.value, kamerreserveringForm.controls.kamernaam2.value)" [disabled]="kamerreserveringForm.invalid">Bevestigen</button>
  </div>
</div>

<div *ngIf="!showselectroom">
    <p  class="text-center">selecteer aub het aantal personen</p>
</div>

<div *ngIf="showselectroom && !showfillinfo">
    <p  class="text-center">selecteer aub kamer(s)</p>
</div>

