<p>
       LET OP! Als de gekozen activiteit hieronder niet zichtbaar is dan is hier helaas nog geen planning voor beschikbaar.
       Excuses voor het ongemak.
</p>

<div class="table-responsive mt-2">
  <table class="table table-striped table-sm">
      <thead>
          <tr>
            <th>Activiteit</th>
            <th>Activiteit naam</th>
              <th>Datum</th>
              <th>Prijs</th>
              <th>Capaciteit</th>
              <th>Aanmelden</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let activiteitplanning of (activiteitenPlanningen | async)">
            <td>
              <img src="assets/img/thumb_{{activiteitplanning.activiteit.thumb}}">
          </td>
            <td>
                  {{ activiteitplanning.activiteit.naam }}
              </td>
              <td>{{ activiteitplanning.actdate }}</td>
              <td>
                  {{ activiteitplanning.actprijs | currency: "EUR" }}
              </td>
              <td>{{ activiteitplanning.actcapaciteit }}</td>
              <td class="text-align: right">
                  <i
                      class="fas fa-pen-alt mr-2"
                      placement="top"
                      ngbTooltip="Reserveren"
                      (click)="openCreateReserveringModal(activiteitplanning)"
                  ></i>
              </td>
          </tr>
      </tbody>
  </table>
</div>
