<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Kamerresevering - <i>{{kamernaam}}</i></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="kamerreserveringForm">
    <div class="container, form-row">
      <div class="form-group col-md-6">
            <label>Aankomst datum</label>
            <input readonly type="date" class="form-control" value={{datumvan}} formControlName="datumvan"  />

        </div>
        <div class="form-group col-md-6">
            <label>Vertrek datum</label>
            <input readonly type="date" class="form-control" value={{datumtot}} formControlName="datumtot"  />
        </div>
      </div>
      <div class="container, form-row">
        <div class="form-group col-md-6">
        <label>Voornaam</label>
        <input type="text" class="form-control" formControlName="voornaam" [class.is-invalid]="kamerreserveringForm.controls.voornaam.invalid && kamerreserveringForm.controls.voornaam.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.voornaam.valid || kamerreserveringForm.controls.voornaam.untouched">Vereist</small>
      </div>
      <div class="form-group col-md-6">
        <label>Achternaam</label>
        <input type="text" class="form-control" formControlName="achternaam" [class.is-invalid]="kamerreserveringForm.controls.achternaam.invalid && kamerreserveringForm.controls.achternaam.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.achternaam?.valid || kamerreserveringForm.controls.achternaam.untouched">Vereist</small>
      </div>
    </div>
    <div class="container, form-row">
        <div class="form-group col-md-6">
          <label>Telefoonnummer</label>
          <input type="text" class="form-control" formControlName="telefoonnummer" [class.is-invalid]="kamerreserveringForm.controls.telefoonnummer.invalid && kamerreserveringForm.controls.telefoonnummer.touched" ngbAutofocus />
          <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.telefoonnummer.valid || kamerreserveringForm.controls.telefoonnummer.untouched">Vereist</small>
        </div>
        <div class="form-group col-md-6">
          <label>E-mailadres</label>
          <input type="text" class="form-control" formControlName="emailadres" [class.is-invalid]="kamerreserveringForm.controls.emailadres.invalid && kamerreserveringForm.controls.emailadres.touched" ngbAutofocus />
          <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.emailadres.valid || kamerreserveringForm.controls.emailadres.untouched">Vereist</small>
        </div>
      </div>
    <div class="container, form-row">
        <div class="form-group col-md-9">
          <label>Straat</label>
          <input type="text" class="form-control" formControlName="straat" [class.is-invalid]="kamerreserveringForm.controls.straat.invalid && kamerreserveringForm.controls.straat.touched" ngbAutofocus />
          <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.straat.valid || kamerreserveringForm.controls.straat.untouched">Vereist</small>
        </div>
        <div class="form-group col-md-3">
          <label>Nummer</label>
          <input type="text" class="form-control" formControlName="huisnummer" [class.is-invalid]="kamerreserveringForm.controls.huisnummer.invalid && kamerreserveringForm.controls.huisnummer.touched" ngbAutofocus />
          <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.huisnummer.valid || kamerreserveringForm.controls.huisnummer.untouched">Vereist</small>
        </div>
    </div>
    <div class="container, form-row">
         <div class="form-group col-md-4">
           <label>Postcode</label>
           <input type="text" class="form-control" formControlName="postcode" [class.is-invalid]="kamerreserveringForm.controls.postcode.invalid && kamerreserveringForm.controls.postcode.touched" ngbAutofocus />
           <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.postcode.valid || kamerreserveringForm.controls.postcode.untouched">Vereist</small>
         </div>
        <div class="form-group col-md-8">
              <label>Woonplaats</label>
              <input type="text" class="form-control" formControlName="woonplaats" [class.is-invalid]="kamerreserveringForm.controls.woonplaats.invalid && kamerreserveringForm.controls.woonplaats.touched" ngbAutofocus />
              <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.woonplaats.valid || kamerreserveringForm.controls.woonplaats.untouched">Vereist</small>
            </div>
      </div>

    <div class="container, form-row">
      <div class="form-group col-md-12">
        <label>Land</label>
        <input type="text" class="form-control" placeholder="Nederland" formControlName="land" [class.is-invalid]="kamerreserveringForm.controls.land.invalid && kamerreserveringForm.controls.land.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.land.valid || kamerreserveringForm.controls.land.untouched">Vereist</small>
      </div>
      <div class="form-group">
        <input type="hidden" value="none" class="form-control" formControlName="identiteitsid" [class.is-invalid]="kamerreserveringForm.controls.identiteitsid.invalid && kamerreserveringForm.controls.identiteitsid.touched" ngbAutofocus />
        <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.identiteitsid.valid || kamerreserveringForm.controls.identiteitsid.untouched">Vereist</small>
      </div>

    </div>


    <div class="form-group">
      <input type="hidden" class="form-control" value="{{kamernaam}}" formControlName="kamernaam">

    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitForm()" [disabled]="kamerreserveringForm.invalid">Save</button>
  </div>
</div>
