<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Kamerreservering</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="kamerreserveringForm">
    <div class="form-group">
      <label>Voornaam</label>
      <input type="text" class="form-control" formControlName="voornaam" [class.is-invalid]="kamerreserveringForm.controls.voornaam.invalid && kamerreserveringForm.controls.voornaam.touched" ngbAutofocus />
      <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.voornaam.valid || kamerreserveringForm.controls.voornaam.untouched">Vereist</small>
    </div>
    <div class="form-group">
      <label>Achternaam</label>
      <input type="text" class="form-control" formControlName="achternaam" [class.is-invalid]="kamerreserveringForm.controls.achternaam.invalid && kamerreserveringForm.controls.achternaam.touched" ngbAutofocus />
      <small class="text-danger" [class.d-none]="kamerreserveringForm.controls.achternaam?.valid || kamerreserveringForm.controls.achternaam.untouched">Vereist</small>
    </div>

    <div class="form-group">
      <label>Kamernaam</label>
      <input readonly type="text" class="form-control" value="{{kamernaam}}" formControlName="kamernaam" />

    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitForm()" [disabled]="kamerreserveringForm.invalid">Save</button>
  </div>
</div>
