<button class="btn btn-primary mt-2" (click)="openFormGerechtModal()">Nieuw</button>

<div class="table-responsive mt-2">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Type</th>
        <th>SubType</th>
        <th>Prijs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gerecht of (gerechten | async)">
        <td>{{gerecht.naam}}</td>
        <td>{{gerecht.type}}</td>
        <td>{{gerecht.subtype}}</td>
        <td>{{gerecht.prijs | currency: 'EUR'}}</td>
        <td class="text-right">
          <i class="fas fa-edit mr-2" placement="top" ngbTooltip="Wijzigen" (click)="openFormGerechtModal(gerecht)"></i>
          <i class="fas fa-trash-alt mr-2" placement="top" ngbTooltip="Verwijderen" (click)="verwijderGerecht(gerecht)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
