<div class="d-flex justify-content-end mt-2">
  <button class="btn btn-primary" (click)="openFormGerechtModal()">Nieuw</button>
</div>

<div class="table-responsive mt-2">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th class="handCursor" (click)="clickColumnHandler('naam')">Naam</th>
        <th class="handCursor" (click)="clickColumnHandler('type')">Type</th>
        <th class="handCursor" (click)="clickColumnHandler('subtype')">SubType</th>
        <th class="handCursor" (click)="clickColumnHandler('prijs')">Prijs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gerecht of (gerechtenService.paginatedGerechten$ | async | sortgrid:field)">
        <td><span class="handCursor" [routerLink]="[gerecht.id]">{{gerecht.naam}}</span></td>
        <td>{{gerecht.type}}</td>
        <td>{{gerecht.subtype}}</td>
        <td>{{gerecht.prijs | currency: 'EUR'}}</td>
        <td class="text-right">
          <i class="fas fa-edit mr-2" placement="top" ngbTooltip="Wijzigen" (click)="openFormGerechtModal(gerecht)"></i>
          <i class="fas fa-trash-alt mr-2" placement="top" ngbTooltip="Verwijderen"
            (click)="verwijderGerecht(gerecht)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <ngb-pagination [collectionSize]="gerechtenService.total$ | async" [(page)]="gerechtenService.page"
      [pageSize]="gerechtenService.pageSize">
    </ngb-pagination>
    <select class="custom-select" name="pageSize" [(ngModel)]="gerechtenService.pageSize">
      <option [ngValue]="5">5 per pagina</option>
      <option [ngValue]="10">10 per pagina</option>
      <option [ngValue]="20">20 per pagina</option>
    </select>
  </div>
