<div>
  <!--pre>{{kamerreserveringen | json}}</pre-->
  <br />

  <div class="row">
    <div class=" col-12 d-flex justify-content-start">
      <button type="button" class="btn btn-primary" [routerLink]="['/managementportal/kamers/reseveer']" >Resevering toevoegen</button>
    </div>
  </div>
  <br />
  <div class="table-responsive mt-2">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th (click)="clickColumnHandler('voornaam')">Voornaam<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('achternaam')">Achternaam<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('telefoonnummer')">Telefoon<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('emailadres')">E-mail<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('datumvan')">Aankomst<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('datumtot')">Vertrek<i class="fa fa-fw fa-sort"></i></th>
        <th (click)="clickColumnHandler('kamernaam')">Kamer<i class="fa fa-fw fa-sort"></i></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let kamerreservering of (kamerreserveringen | async |  sortgrid:field)" >
        <td>{{kamerreservering.voornaam}}</td>
        <td>{{kamerreservering.achternaam}}</td>
        <td>{{kamerreservering.telefoonnummer}}
        <td>{{kamerreservering.emailadres}}
        <td>{{kamerreservering.datumvan}}
        <td>{{kamerreservering.datumtot}}
        <td>{{kamerreservering.kamernaam}}
        <td class="text-right">
          <i class="fas fa-edit mr-2" placement="top" ngbTooltip="Toon gegevens" (click)="openFormKamerReserveringDetailsModal(kamerreservering)"></i>
          <i class="fas fa-trash-alt mr-2" placement="top" ngbTooltip="Verwijderen" (click)="onSelect(kamerreservering); openSm(deleteReseveringModal)" ></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal to confirm deleting room-->
<ng-template #deleteReseveringModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Resevering verwijderen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>Uw staat op het punt om de volgende resevering te verwijderen: </p>
        <table class="table table-striped table-sm">
          <tr>
            <td>Gast: </td>
            <td>{{selectedResevering?.voornaam}} {{selectedResevering?.achternaam}}</td>
          </tr>
          <tr>
            <td>Kamernaam: </td>
            <td>{{selectedResevering?.kamernaam}}</td>
          </tr>
          <tr>
            <td>Van: </td>
            <td>{{selectedResevering?.datumvan}}</td>
          </tr>
          <tr>
            <td>Tot</td>
            <td>{{selectedResevering?.datumtot}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{selectedResevering?.emailadres}}</td>
          </tr>
          <tr>
            <td>Telefoon</td>
            <td>{{selectedResevering?.telefoonnummer}}</td>
          </tr>

        </table>
        <p>Weet u dit zeker?</p>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Nee</button>
    <button type="button" class="btn btn-success" (click)="deleteResevering(selectedResevering); modal.close('Save click')">Ja</button>
  </div>
</ng-template>
