@import "variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap";

header {
  color: #005693;
}

.bush {
  font-family: "Brush Script MT";
}

.card-header:hover {
  background-color: #0056931e;
  transition: 0.3s all ease-out;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #dddbdb;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
}