@import "variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap";

header {
  color: #005693;
}

.bush {
  font-family: "Brush Script MT";
}
.carousel-inner {
  width: 100%;
  margin: 0 auto;
}
.important_info {
  font-size:small; 
  color: grey;
}

