@import "variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap";

header {
  color: #005693;
}

.bush {
  font-family: "Brush Script MT";
}
.movelake{
  -webkit-animation: move-lake-animation 5s infinite; /* Safari 4.0 - 8.0 */
  animation: move-lake-animation 5s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-lake-animation {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

/* Standard syntax */
@keyframes move-lake-animation {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
// a:hover {
//   background-color: yellow;
// }
.carousel-inner {
  width: 50%;
  margin: 0 auto;
}