<div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="{{roomdetail.alignText}}">
      <h2 class="featurette-heading h2-kamer-lg">{{roomdetail.roomtype}}, {{roomdetail.roomprice}}<span class="text-muted"></span></h2>
      <p class="lead">{{roomdetail.text}}</p>
    </div>
    <div ngClass="{{roomdetail.alignImage}}">
      <img class="bd-placeholder-img-lg featurette-image img-fluid" src="{{roomdetail.image}}" style="width:500; height:500; background:#eee; color:#aaa;">
    </div>
  </div>
</div>