.fa-marker {
	color:green;
}
.fa-trash-alt {
  color: red;
}
.fa-edit {
  color: blue;
}

/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightgreen; // Choose your own color here
 }
 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: lightcyan; // Choose your own color here
  }
  thead th {
    background-color: green;
} */

