<div>
  <!--pre>{{kamers | json}}</pre-->
  <br />

  <div class="row">
      <div class=" col-6 d-flex justify-content-start">
          <button type="button" class="btn btn-danger" (click)= "showAvailableRoomsModal()">Beschikbare kamers</button>
          <!--a href="/managementportal/kamers-form" class="btn btn-primary" role="button" aria-pressed="true">Add Room</a-->
        </div>
    <div class=" col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="openNewFormModal()">Kamer toevoegen</button>
        <!--a href="/managementportal/kamers-form" class="btn btn-primary" role="button" aria-pressed="true">Add Room</a-->
      </div>
  </div>
  <br />
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th (click)="clickColumnHandler('kamerNaam')">Kamernaam</th>
      <th (click)="clickColumnHandler('kamerType')">Kamertype</th>
      <th (click)="clickColumnHandler('kamerLigging')">Kamerligging</th>
      <th (click)="clickColumnHandler('aantalPersonen')">Aantalpersonen</th>
      <th (click)="clickColumnHandler('prijs')">Prijs</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let kamer of (kamers | async | kamersfilter: show | sortgrid:field)">
        <td>{{ kamer.kamerNaam }}</td>
        <td>{{ kamer.kamerType }}</td>
        <td>{{ kamer.kamerLigging }}</td>
        <td>{{ kamer.aantalPersonen }}</td>
        <td>{{ kamer.prijs | currency: "EUR" }}</td>
        <td *ngIf="showResButton">
          <i class="fas fa-marker mr-2" placement="top" ngbTooltip="Reserveren" (click)="openFormKamerReserveringModal(kamer.kamerNaam)"></i>
        </td>
        <td style="text-align: right">
          <i class="fas fa-edit mr-2" placement="top" ngbTooltip="Wijzigen" (click)="onSelect(kamer); openEditFormModal()"></i>
          <i class="fas fa-trash-alt mr-2" placement="top" ngbTooltip="Verwijderen" (click)="onSelect(kamer); openSm(deleteModal)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal to confirm deleting room-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Kamer verwijderen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <P>Uw staat op het punt om kamer <i>{{selectedKamer?.kamerNaam}}</i> te verwijderen. Weet u dit zeker?</P>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Nee</button>
      <button type="button" class="btn btn-success" (click)="deleteRoom(selectedKamer); modal.close('Save click')">Ja</button>
    </div>
  </ng-template>
