<div>
  <!--pre>{{kamers | json}}</pre-->
  <br />

  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-info" (click)="showAllRooms()">
        All Rooms
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="showFreeRooms()">
        Free Rooms
      </button>
    </div>

    <div class="col-2">
      <button type="button" class="btn btn-warning" (click)="showBookedRooms()">
        Booked Rooms
      </button>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-primary" (click)="openNewFormModal()">Add Room</button>
        <!--a href="/managementportal/kamers-form" class="btn btn-primary" role="button" aria-pressed="true">Add Room</a-->
      </div>
  </div>

  <br />
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Kamernaam</th>
        <th>Kamertype</th>
        <th>Kamerligging</th>
        <th>Aantalpersonen</th>
        <th>Prijs</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kamer of (kamers | kamersfilter: show)">
        <td>{{ kamer.kamerNaam }}</td>
        <td>{{ kamer.kamerType }}</td>
        <td>{{ kamer.kamerLigging }}</td>
        <td>{{ kamer.aantalPersonen }}</td>
        <td>{{ kamer.prijs | currency: "EUR" }}</td>
        <td>
          <i class="fas fa-marker mr-2" placement="top" ngbTooltip="Reserveren" (click)="onSelect(kamer); openEditFormModal()"></i>
        </td>
        <td style="text-align: right">
          <i class="fas fa-edit mr-2" placement="top" ngbTooltip="Wijzigen" (click)="onSelect(kamer); openEditFormModal()"></i>
          <i class="fas fa-trash-alt mr-2" placement="top" ngbTooltip="Verwijderen" (click)="onSelect(kamer); openSm(deleteModal)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal to confirm deleting room-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Kamer verwijderen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <P>Kamernummer {{selectedKamer?.kamerNaam}} wordt verwijderd.</P>
          <h3>Weet je het zeker?</h3>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteRoom(selectedKamer); modal.close('Save click')">Ja</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Nee</button>
    </div>
  </ng-template>
