.fa-marker {
	color:green;
}
.fa-trash-alt {
  color: red;
}
.fa-edit {
  color: blue;
}
.Noresultfound{
  color: red;
}
.infotext{
  color: green;
}
.room-bucket {
  padding: 20px;
 // height: 400px;
  width: 400px;
  //position: relative;
  //left:500px;
 position: fixed;
  top:135px;
 // bottom: 0;
  right: 60px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: lightgoldenrodyellow;
  margin-left: 400px;
}

.table-small{
  width: 800px;
}
 .table tr.active td {
  background-color:lightgreen;
  color: white;
}


/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightgreen; // Choose your own color here
 }
 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: lightcyan; // Choose your own color here
  }
  thead th {
    background-color: green;
} */

