<div class="modal-header">
    <h4
        class="modal-title"
        id="modal-basic-title"
    >
        Activiteit
    </h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('cancel')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="activiteitForm">
        <div class="form-group">
            <label>Naam</label>
            <input
                type="string"
                class="form-control"
                formControlName="naam"
                [class.is-invalid]="naam?.invalid && naam?.touched"
                ngbAutofocus
            >
            <small
            class="text-danger d-none"
            [class.d-block]="activiteitForm.controls.naam?.invalid && activiteitForm.controls.naam?.touched"
            >
                Naam is verplicht
            </small>
        </div>
        <div class="form-group">
            <label>Beschrijving</label>
            <input
                type="string"
                class="form-control"
                formControlName="beschrijving"
                [class.is-invalid]="beschrijving?.invalid && beschrijving?.touched"
            >
            <small
            class="text-danger d-none"
            [class.d-block]="activiteitForm.controls.beschrijving?.invalid && activiteitForm.controls.beschrijving?.touched"
            >
                Aantal personen is verplicht
            </small>
        </div>

        <div class="form-group">
            <label>Foto</label>
            <input
                type="string"
                class="form-control"
                formControlName="thumb"
            >
        </div>
    </form>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="submitForm()"
            [disabled]="activiteitForm.invalid"
        >
            Save
        </button>
    </div>
</div>
