<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Planning
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="activiteitenPlanningForm">
    <div class="form-group">
      <label>Activiteit</label>
      <input
        disabled="true"
        type="string"
        class="form-control"
        formControlName="actNaam"
        [class.is-invalid]="activiteitenPlanningForm.controls.actNaam?.invalid && activiteitenPlanningForm.controls.actNaam?.touched"
      />
      <small
        class="text-danger d-none"
        [class.d-block]="activiteitenPlanningForm.controls.actNaam?.invalid && activiteitenPlanningForm.controls.actNaam?.touched"
      >
      Activiteit is verplicht
      </small>    </div>
    <div class="form-group">
      <label for="inputDateFrom">Datum activiteit</label>
      <input
        type="date"
        class="form-control"
        formControlName="actDate"
        [class.is-invalid]="activiteitenPlanningForm.controls.actDate?.invalid && activiteitenPlanningForm.controls.actDate?.touched"
      />
      <small
        class="text-danger d-none"
        [class.d-block]="activiteitenPlanningForm.controls.actDate?.invalid && activiteitenPlanningForm.controls.actDate?.touched"
      >
        Datum is verplicht
      </small>
    </div>
    <div class="form-group">
      <label>Prijs</label>
      <input
        type="number"
        class="form-control"
        formControlName="actPrijs"
        [class.is-invalid]="activiteitenPlanningForm.controls.actPrijs?.invalid && activiteitenPlanningForm.controls.actPrijs?.touched"
      />
      <small
        class="text-danger d-none"
        [class.d-block]="activiteitenPlanningForm.controls.actPrijs?.invalid && activiteitenPlanningForm.controls.actPrijs?.touched"
      >
        Prijs is verplicht
      </small>
    </div>
    <div class="form-group">
      <label>Capaciteit</label>
      <input
        type="number"
        class="form-control"
        formControlName="actCapaciteit"
        [class.is-invalid]="
          activiteitenPlanningForm.controls.actCapaciteit?.invalid && activiteitenPlanningForm.controls.actCapaciteit?.touched
        "
      />
      <small
        class="text-danger d-none"
        [class.d-block]="
          activiteitenPlanningForm.controls.actCapaciteit?.invalid && activiteitenPlanningForm.controls.actCapaciteit?.touched
        "
      >
        Capaciteit is verplicht
      </small>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitForm()" [disabled]="activiteitenPlanningForm.invalid">
      Save
    </button>
  </div>
</div>
