<div *ngIf="Selectedkamer">
  <h2>{{Selectedkamer.kamerNummer | uppercase}} Details</h2>
  <div><span>Kamer nummer: </span>{{Selectedkamer.kamerNummer}}</div>
  <div>
    <label>KamerType:
      <input [(ngModel)]="Selectedkamer.kamerType" placeholder="kamerType">
      <!--select class="form-control" [(ngModel)]="selectedKamer.KamerType" name="KamerType" placeholder = "kamerType">
            <option *ngFor="let type of soortkamer" [value]="selectedKamer.KamerType">{{type}}</option>
      </select-->
    </label>
  </div>
  <div>
      <label>KamerLigging:
        <input [(ngModel)]="Selectedkamer.kamerLigging" placeholder="kamerLigging">
      </label>
    </div>
    <div>
        <label>Aantal Personen:
          <input [(ngModel)]="Selectedkamer.aantalPersonen" placeholder="Aantal Personen">
        </label>
      </div>
</div>
