<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/room.jpg" style="width:100%; height:100%; background:#777; color:#777;">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="cslider">KAMERS</h1>
            <p class="pSlider">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
              gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Informatie</a></p-->
            <!--p><button type="button" class="btn btn-primary" data-target="kamers.html">Boeken</button></p-->
            <a href="kamers.html" class="btn btn-primary" role="button" aria-pressed="true">Boeken</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/restaurant.jpg" style="width:100%; height:100%; background:#777; color:#777;">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="cslider">RESTAURANT</h1>
            <p class="pSlider">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
              gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Boeken</a></p-->
            <!--p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Boeken</button></p-->
            <a href="restaurant.html" class="btn btn-primary" role="button"
               aria-pressed="true">Boeken</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/activity.jpg" style="width:100%; height:100%; background:#777; color:#777;">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="cslider">ACTIVITEITEN</h1>
            <p class="pSlider">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
              gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Informatie</a></p-->
            <!--p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Boeken</button></p-->
            <a href="activiteiten.html" class="btn btn-primary" role="button"
               aria-pressed="true">Boeken</a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div>
    <br>
  </div>
  <!-- START THE FEATURETTES -->
  <div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading h2-kamer-lg">Kamers<span class="text-muted"></span></h2>
        <p class="lead">We hebben 20 kamers, verdeeld over 4 verdiepingen. Onze ruime kamers zijn ingericht
          in frisse en
          lichte kleuren. Wi-Fi, een flatscreen TV en een bureau zijn standaard aanwezig, en u kunt uw
          eigen koffie en thee
          zetten.
          Standaard kamers bieden u extra facliliteiten, en de luxe heeft een aparte woonruimte en een
          king-size bed.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/kamer_lux.jpg"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading h2-kamer-lg">Restaurant <span class="text-muted"></span></h2>
        <p class="lead">Het wordt winter! De sjaal mag weer uit de kast, de handschoenen aan en met een
          beetje
          geluk mogen zelfs de schaatsen ingevet worden. De winter, de tijd van gezelligheid met elkaar en
          vrienden.
          Een perfecte reden om even samen te ontspannen en heerlijk te genieten van de warmte bij de
          openhaard in de
          bar of 1 van de mooie wildgerechten in ons sfeervolle restaurant. Welkom!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/restaurant_large.jpg"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading h2-kamer-lg">Activiteiten <span class="text-muted"></span></h2>
        <p class="lead">Het Stadspark van Molveno is één van de drie oudste parken in Italy.
          Gasten komen hier graag voor een wandeling, fietstocht of gewoon
          om even lekker in het zonnetje in het gras te liggen. Je kunt hier langs de rivieren romantisch
          picknicken, een stukje hardlopen of gewoon in alle rust genieten van het park. Daarnaast loopt
          de oude stadsmuur dwars door het park waardoor het ook nog eens een echt stukje geschiedenis
          is.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/wandel_large.png"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
  <!-- /END THE FEATURETTES -->

</main>
