<main role="main">

  <div class="row">
    <div class="col-lg-12">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide" style="width:100%; height:100%; background:#777; color:#777;">
          <div class="carousel-caption">
            <h3>KAMERS</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a href="/kamers" class="btn btn-primary" role="button" aria-pressed="true">Boeken</a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide" style="width:100%; height:100%; background:#777; color:#777;">
          <div class="carousel-caption">
            <h3>RESTAURANT</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
            <a href="/restaurant" class="btn btn-primary" role="button"  aria-pressed="true">Boeken</a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide" style="width:100%; height:100%; background:#777; color:#777;">
          <div class="carousel-caption">
            <h3>ACTIVITEITEN</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
            <a href="/activiteiten" class="btn btn-primary" role="button" aria-pressed="true">Boeken</a>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div>
    <br>
  </div>
  <!-- START THE FEATURETTES -->
  <div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading h2-kamer-lg">Kamers<span class="text-muted"></span></h2>
        <p class="lead">We hebben 20 kamers, verdeeld over 4 verdiepingen. Onze ruime kamers zijn ingericht
          in frisse en
          lichte kleuren. Wi-Fi, een flatscreen TV en een bureau zijn standaard aanwezig, en u kunt uw
          eigen koffie en thee
          zetten.
          Standaard kamers bieden u extra facliliteiten, en de luxe heeft een aparte woonruimte en een
          king-size bed.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/kamer_lux.jpg"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading h2-kamer-lg">Restaurant <span class="text-muted"></span></h2>
        <p class="lead">Het wordt winter! De sjaal mag weer uit de kast, de handschoenen aan en met een
          beetje
          geluk mogen zelfs de schaatsen ingevet worden. De winter, de tijd van gezelligheid met elkaar en
          vrienden.
          Een perfecte reden om even samen te ontspannen en heerlijk te genieten van de warmte bij de
          openhaard in de
          bar of 1 van de mooie wildgerechten in ons sfeervolle restaurant. Welkom!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/restaurant_large.jpg"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading h2-kamer-lg">Activiteiten <span class="text-muted"></span></h2>
        <p class="lead">Het Stadspark van Molveno is één van de drie oudste parken in Italy.
          Gasten komen hier graag voor een wandeling, fietstocht of gewoon
          om even lekker in het zonnetje in het gras te liggen. Je kunt hier langs de rivieren romantisch
          picknicken, een stukje hardlopen of gewoon in alle rust genieten van het park. Daarnaast loopt
          de oude stadsmuur dwars door het park waardoor het ook nog eens een echt stukje geschiedenis
          is.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img-lg featurette-image img-fluid" src="assets/img/wandel_large.png"
             style="width:500; height:500; background:#eee; color:#aaa;">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
  <!-- /END THE FEATURETTES -->

</main>
